<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaminhoPastaVendas" value="C:\vendas\vendas"/>
    <add key="CaminhoPastaVendasInvalidas" value="C:\vendas\invalidas"/>
    <add key="CaminhoPastaVendasValidas" value="C:\vendas\validas"/>
  </appSettings>
</configuration>